@use "../abstracts/index" as *;

.button {
    display: inline-block;
    border: 2px solid $grey;
    color: $grey;
    font-weight: bold;
    background-color: $white;
    padding: 0.4rem 2rem;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    transition: 0.3s color ease-in-out;

    &:hover {
        background-color: $highlight;
    }
}

.btn-gradient {
    background-color: transparent;
    color: $secondary;

    padding: 0.4rem 2rem;
    border: 1px solid $secondary;

    &:link {
        color: $secondary
    }

    &:visited {
        color: $secondary
    }

    &:focus {
        color: $secondary
    }

    &:hover {
        background-color: rgba($secondary, 0.4);
    }

    &:active {
        color: $secondary
    }
}