@use "../abstracts/index" as *;

// Website logo
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 7rem;
    height: 6rem; // Logo height matched to nav menu strap height ( 6 rem )
    z-index: 99;
    background: center / contain no-repeat url(assets/images/virtual-cave-logo.png);

    @include respond-to("very-small") {
        width: 5rem;
        height: 4rem; // Logo height matched to nav menu strap height ( 4 rem )
    }
}