@use "../abstracts/index" as *;

// Social media
.social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1.2rem;

    li {
        text-indent: -9999px; // Sends the link text off-screen. Keep text for accessibility purpose
        white-space: nowrap; // Because only the first line is indented
        border: none;
        padding: 1.8rem 3rem;

        @include respond-to("very-small") {
            padding: 0.5rem 2rem;
        }

        @include respond-to("large") {
            padding: 1.8rem 0.8rem;
        }

        &:nth-child(1) a {
            background-image: url(assets/images/social-media/linkedin.png);
        }

        &:nth-child(2) a {
            background-image: url(assets/images/social-media/github.png);
        }

        &:nth-child(3) a {
            background-image: url(assets/images/social-media/facebook.png);
        }

        &:nth-child(4) a {
            background-image: url(assets/images/social-media/instagram.png);
        }

        a {
            // Set display to block and height to 100%, to make anchor element clickable
            display: block;
            outline: none; // Remove outlines which show when link is clicked
            background: center / 2rem 2rem no-repeat;
            padding: 1rem;

            // Animation effect on social media icons
            transform: rotate(0deg);
            transition: transform 0.5s;

            &:hover {
                transform: rotate(60deg);
            }

            @include respond-to("very-small") {
                background-size: 1.3rem 1.3rem;
            }

            @include respond-to("large") {
                background-size: 1rem 1rem;
            }
        }
    }
}