@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// "About" page styles
.wrapper-top,
.wrapper-bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.wrapper-top {
    @include respond-to("medium") {
        flex-direction: row;
    }
}

// Introduction text to my persona
.intro {
    @include respond-to("large") {
        width: 80%;
    }

    @include respond-to("huge") {
        padding: 4rem;
        width: 80%;
    }

    p {
        &:nth-child(2) {
            font-weight: bold;
        }
    }
}

// Image of me
.intro-image {
    border-radius: 1rem;
    padding: 0.6rem;
    margin: 2rem;
    width: 100%;

    @include respond-to("very-small") {
        width: 60%;
    }

    img {
        border-radius: 1rem;
    }
}

// Introduction to my interests 
.interests-intro {
    @include respond-to('small') {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    @include respond-to('huge') {
        padding-right: 10rem;
        padding-left: 10rem;
    }
}

.interests-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.5rem;

    // Container for icons and icons description 
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 4rem;

        &:nth-child(1) div {
            background-image: url(assets/images/interest/self-improvement.png);
        }

        &:nth-child(2) div {
            background-image: url(assets/images/interest/books.png);
        }

        &:nth-child(3) div {
            background-image: url(assets/images/interest/computers.png);
        }

        &:nth-child(4) div {
            background-image: url(assets/images/interest/gym.png);
        }

        &:nth-child(5) div {
            background-image: url(assets/images/interest/cycling.png);
        }

        &:nth-child(6) div {
            background-image: url(assets/images/interest/meditation.png);
        }

    }

    // Icons description 
    p {
        font-size: 0.9rem;
        text-transform: capitalize;

        span {
            display: block;
            text-align: center;
        }
    }

    // Icons
    div {
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;
    }
}