@use "../abstracts/index" as *;

// Footers styles 
footer {
    background: $background-color;
    color: $grey-400;
    font-family: $code-font-stack;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;

    // Social media in the footer
    .social-media {
        flex-direction: column;

        li {
            padding: 0.2rem 0;
            width: 3rem;

            a {
                background-size: 1.3rem 1.3rem;
            }
        }
    }

    // Email address
    .contact-info {
        padding: 1rem 1.5rem;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        letter-spacing: 0.2rem;
    }

    // Additional contact information inside the footer 
    .get-in-touch {
        justify-self: center;

        h3 {
            margin: 0;
            padding-top: 1rem;
            color: $white;
            font-size: 1.5rem;
        }

        p {
            margin: 0;
            padding: 1.5rem 0;
            max-width: 20rem;
        }
    }

    // Copyright
    p {
        grid-column: 1 / 4;
        grid-row: 2;

        padding-top: 1.5rem;
        padding-bottom: 0.5rem;

        &:last-child {
            font-size: 0.5rem;
            padding: 0;
        }
    }
}