@use "../abstracts/index" as *;

// "Navigation" Styles
// Navigation horizontal strap
.nav-strap {
    position: relative;
    height: 6rem; // Nav strap height

    display: flex;

    // This sets the position of the hamburger icon on nav menu strap
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;

    @include respond-to("very-small") {
        height: 4rem; // Nav strap height
    }

    // This text is only visible on devices with small screens
    .menu-text {
        padding-right: 1.3rem;
        text-transform: uppercase;

        // Disable text
        @include respond-to("large") {
            display: none;
        }
    }
}

// Navigation menu
.menu {
    background: $background-color;
    position: absolute;
    width: 100%;
    top: 6rem; // Move it from the top on small screen devices with hamburger icon bar, using the same height as the height of the parent "nav strap"
    left: -100%; // Hide mobile menu

    z-index: 5; // When the menu is displayed, it will cover other content 
    height: 100vh; // Cover the whole displayed screen

    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    transition: left 0.4s;

    @include respond-to("very-small") {
        top: 4rem; // Move it from the top on small screen devices with hamburger icon bar, using the same height as the height of the parent "nav strap"
        height: initial; // Reset menu height. It is useful when a website changes size from a Menu with a hamburger icon to a large screen menu and back
    }

    @include respond-to("large") {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: none;

        // Reset values to default
        position: initial;
        z-index: auto; // initial value is auto
        transform: none;
        transition: none;
       
        // The effect of the line disappearing across the entire width of the menu on the bottom of the nav strap 
        width: 82%;
        margin-left: 18%;
    }

    .links {
        border-bottom: 0.05rem solid $grey; // Add menu items separation lines

        @include respond-to("large") {
            border: none; // Turn off menu items separation lines on a larger screen
            padding: 1rem;
        }

        a {
            padding: 2.2rem;
            display: inline-block;
            width: 100%;
            color: $white;
            text-transform: uppercase;
            position: relative;
            font-weight: bold;
            font-size: 1.5rem;

            @include respond-to("very-small") {
                font-size: 1rem;
                padding: 1rem;
            }

            @include respond-to("large") {
                text-transform: lowercase;
                font-weight: normal;
                padding: 0.2rem;
            }

            // Horizontal line animation under menu items on screens with a pointer 
            @media screen and (pointer: fine) {
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $grey-800;
                    transform-origin: bottom right;
                    transition: transform 0.5s ease-out;
                }

                &:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
}

// Open and close mobile menu
.active {
    left: 0;
}