@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


// .skills-intro,
// .skills-list,
// .skills {

//     // Align sections
//     @include respond-to("very-small") {
//         padding: 2rem 5rem;
//     }

//     @include respond-to("medium") {
//         padding: 2rem 10rem;
//     }

//     @include respond-to("large") {
//         padding: 2rem 12rem;
//     }

//     @include respond-to("2k") {
//         padding: 2rem 30rem;
//     }
// }

// List of skills with icons
.skills-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        padding: 2rem;

        &:nth-child(1) i {
            background-image: url(assets/images/responsive.png);
        }

        &:nth-child(2) i {
            background-image: url(assets/images/intuitive.png);
        }

        &:nth-child(3) i {
            background-image: url(assets/images/dynamic.png);
        }

        &:nth-child(4) i {
            background-image: url(assets/images/fast.png);
        }

        h3 {
            color: $grey;
            margin: 0;
        }

        p {
            margin: 0;
            padding: 1rem 0;

            @include respond-to("small") {
                padding: 0;
            }

            @include respond-to("large") {
                padding: 1rem;
            }
        }
    }

    // Icons skills
    i {
        display: block;
        width: 5rem;
        height: 5rem;
        background-size: contain;
        margin-bottom: 0.4rem;
    }
}

// Technology list
.skills-list {
    ul {
        display: flex;
        flex-flow: column nowrap;

        width: 100%;

        // Each list item is a progress bar
        li {
            padding: 0.2rem;

            // Name of technology
            .technology {
                padding-bottom: .3rem;
            }

            // Progress bar
            .bar {
                position: relative;
                top: 0;
                left: 0;
                background-color: $grey-400;
                height: 1.1rem;
                z-index: 10;
                text-align: right;
                color: $grey;
                padding: 0 0.4rem;

                // How much progress in a skill bar
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    height: 1.1rem;
                    padding: 0 0.4rem;
                    left: 0; // Move skills bars to the right. This allow to use 100% width 
                    z-index: -10;
                    background: $text;
                }
            }

            // Skill progress on technology
            &:nth-child(1) .bar:after {
                width: 74%;
            }

            &:nth-child(2) .bar:after {
                width: 72%;
            }

            &:nth-child(3) .bar::after {
                width: 78%;
            }

            &:nth-child(4) .bar::after {
                width: 60%;
            }

            &:nth-child(5) .bar::after {
                width: 64%;
            }

            &:nth-child(6) .bar::after {
                width: 30%;
            }

            &:nth-child(7) .bar::after {
                width: 45%;
            }

            &:nth-child(8) .bar::after {
                width: 30%;
            }
        }
    }
}