@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


// "Skills" page
.container-skills {
    display: flex;
    flex-flow: column nowrap;
    max-width: 40rem;
    margin: 0 auto;
}
// Skill list with icons
.skills-icons {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    @include respond-to("small") {
        grid-template-columns: 1fr 1fr;
    }

    div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        margin: 2rem 1rem;
        width: 15rem;

        &:nth-child(1) i {
            background-image: url(assets/images/responsive.png);
        }
        &:nth-child(2) i {
            background-image: url(assets/images/intuitive.png);
        }
        &:nth-child(3) i {
            background-image: url(assets/images/dynamic.png);
        }
        &:nth-child(4) i {
            background-image: url(assets/images/fast.png);
        }
    }
    // Icons of skills
    i {
        display: block;
        width: 5rem;
        height: 5rem;
        background-size: contain;
        margin-bottom: 0.4rem;
    }
}

.skills-list {
    // Technology list
    ul {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        // Change width of list items box area and move them to the right to make sure that skills names are visible and unordered list don't overflow 
        left: 25%;
        width: 75%;
    }
    // Each list item is a progress bar
    li {
        position: relative;
        margin-bottom: 1rem;
        background-color: $list-item-color;
        padding: 0.3rem;
        left: -35%; // Show skills names by moving them to left side 
        font-size: .8rem;
        @include respond-to("small") {
            font-size: 1rem;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            background-color: $bar-color;
            left: 35%; // Move skills bars to the right. This allow to use 100% width 
        }
        // Full skill bar
        &:before {
            width: 100%;
            z-index: 5;
            background-color: $bar-color;
        }
        // How much progress in a skill bar
        &:after {
            z-index: 10;
            background-color: $progress-color;
        }
        // Skill progress on technology
        &:nth-child(1)::after {
            width: 60%;
        }

        &:nth-child(2)::after {
            width: 85%;
        }

        &:nth-child(3)::after {
            width: 70%;
        }

        &:nth-child(4)::after {
            width: 60%;
        }

        &:nth-child(5)::after {
            width: 65%;
        }

        &:nth-child(6)::after {
            width: 30%;
        }

        &:nth-child(7)::after {
            width: 25%;
        }

        &:nth-child(8)::after {
            width: 30%;
        }
    }
}
