/* // 'About' page styles */
.container {
    display: flex;
    flex-flow: column nowrap;
}

.wrapper-top, .wrapper-bottom {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-row-gap: 3rem;
    row-gap: 3rem;
}

.wrapper-bottom {
    background-color: rgb(228, 222, 203);
    color: rgb(94, 120, 116);
}

/* wrapper top */
.intro-image {
    border-bottom: .1rem solid rgba(94, 120, 116, .7);
}

.intro-image img {
    width: 80%;
}

/* first paragraph in intro section */
.intro p:nth-child(2) {
    font-weight: bold;
}

/* gallery of random life images */
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery a {
    padding: .9rem;
    box-shadow: 0 .2rem .6rem rgb(94, 120, 116);
    margin: .7rem;
}

.gallery img {
    height: 5rem;
    width: 7rem;
    box-shadow: inset 0 -1rem 1rem rgba(0, 0, 0, .1),
    0 0 0 .15rem rgb(228, 222, 203),
    .1rem .1rem 1rem rgba(0, 0, 0, .3);
}

/* change heading color to match background in this section */
.interests-intro h2 {
    color: rgb(238, 233, 237);
}

.interests-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.interests-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .7rem 0;
}

.interests-list p span {
    display: block;
    text-align: center;
}

.interests-list div {
    width: 2.7rem;
    height: 2.7rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.interests-list p {
    font-size: .7rem;
    text-transform: capitalize;
}

/* Interests icons */
.interests-list li:nth-child(1) div {
    background-image: url(images/interest/self-improvement.png);
}

.interests-list li:nth-child(2) div {
    background-image: url(images/interest/books.png);
}

.interests-list li:nth-child(3) div {
    background-image: url(images/interest/computers.png);
}

.interests-list li:nth-child(4) div {
    background-image: url(images/interest/gym.png);
}

.interests-list li:nth-child(5) div {
    background-image: url(images/interest/cycling.png);
}

.interests-list li:nth-child(6) div {
    background-image: url(images/interest/swim.png);
}

.interests-list li:nth-child(7) div {
    background-image: url(images/interest/meditation.png);
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .wrapper-bottom {
        grid-template-columns: minmax(0, 65vw);
    }
}

@media only screen and (min-width: 1024px) {
    .intro-image {
        border-bottom: none;
    }

    .wrapper-top, .wrapper-bottom {
        grid-template-columns: repeat(2, minmax(0, 40vw));
        grid-template-rows: repeat(2, minmax(0, auto));
        grid-column-gap: 3rem;
        column-gap: 3rem;
    }

    /* grid baselines placement */
    .intro {
        grid-column: 1;
        grid-row: 1;
    }

    .intro-image {
        grid-column: 2;
        grid-row: 1;
    }

    .gallery {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .interests-intro {
        grid-column: 1;
        grid-row: 1;
    }

    .interests-list {
        grid-column: 2;
        grid-row: 1;
    }
}

@media only screen and (min-width: 1366px) {
    .wrapper-top, .wrapper-bottom {
        grid-template-columns: repeat(2, minmax(0, 30rem));
    }
}