@use "../abstracts/index" as *;
@use "../components/page-loading" as *;

// "General" Styles
html {
    box-sizing: border-box;
    font-size: 100%;

    height: 100%;

    // Responsive font size
    @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    user-select: none;

    font-family: $primary-font-stack;

    // Basic colors
    color: $white;
    background: $background-color;

    // If there is not enough content on page to fill 100% height of page. This remove empty space on bottom of the page
    min-height: 100%;

    display: flex;
    flex-flow: nowrap column;
}

// Reset padding and margin on some elements
body,
ul,
li,
figure,
a,
.code {
    padding: 0;
    margin: 0;
}

// Auxiliary classes
.text-center {
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

.align-center {
    align-self: center;
}

.align-start {
    align-self: flex-start;
}

.inline-block {
    display: inline-block;
}

// Main content
main {
    background-color: $white;
    color: $grey;

    // Moves content containers from edges of the viewport
    &>div,
    &>section,
    &>form {
        padding: 2rem 1.5rem;
    }

    @include respond-to("very-small") {

        &>div,
        &>section,
        &>form {
            padding: 2rem 2rem;
        }
    }

    @include respond-to("large") {

        &>div,
        &>section {
            padding: 2rem 4rem;
        }
    }

    @include respond-to("very-large") {

        &>div,
        &>section {
            padding: 2rem 10rem;
        }
    }

    @include respond-to("huge") {

        &>div,
        &>section {
            padding: 2rem 10rem;
        }
    }

    @include respond-to("2k") {

        &>div,
        &>section {
            padding: 2rem 20rem;
        }
    }

    @include respond-to("4k") {

        &>div,
        &>section {
            padding: 2rem 40rem;
        }
    }
}

// Headers font
h1,
h2,
h3 {
    font-family: $secondary-font-stack;
    color: $white;
}

// Headers styling
h1,
h2 {
    text-shadow: $black 0px 0px 2px,
        $black 0px 0px 2px,
        $black 0px 0px 2px,
        $black 0px 0px 2px,
        $black 0px 0px 2px,
        $black 0px 0px 2px,
        $black 2px 2px 4px;

    letter-spacing: 0.1rem;
}

// Vertical line on the left side of the header
.header-styling {
    position: relative;
    padding-left: 0.4rem;
    padding-bottom: 1rem;
    text-transform: uppercase;

    &::before {
        content: "";
        position: absolute;
        width: 0.1rem;
        height: 60%;
        top: 0.4rem;
        left: 0;
        background: $background-color;
    }
}

// Home page header font
header {
    font-family: $code-font-stack;
}

h1 {
    font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h2 {
    font-size: $mod_1*$mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h3 {
    font-size: $mod_1*$mod_1 *1rem;
    @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block; // Remove white space on bottom of image
    max-width: 100%;
    margin: 0 auto;
}

// Latest work section
section.latest-work {
    display: flex;
    flex-flow: column nowrap;
}

// The main content of all pages is encapsulated inside the container
.container {
    display: flex;
    flex-flow: column nowrap;
}

// Hides borderline on SVG
svg {
    margin-bottom: -1px;
    margin-top: -1px;
}

// Makes SVG cover less space
svg.svg-margin {
    margin-top: -5rem;

    @include respond-to("very-large") {
        margin-top: -6rem;
    }

    @include respond-to("huge") {
        margin-top: -9rem;
    }
}